{% include head.html %}

    <!-- Create outer border -->
    <div class="page-border">
    <div class="bg--white" >

        <!-- Header -->
        <header class="align--center pt3 pb2">
            <div class="container">
                <!--h1 class="mb3 reveal-on-scroll is-revealing" title="Meet keebs"><img src="{{ site.baseurl }}/assets/img/logo.svg" alt="Meet keebs"></h1-->
                <h2 class="mb3 reveal-on-scroll is-revealing">Møt andre tastatur-entusiaster!</h2>
                <p class="mb1">10. oktober 2020</p>
		<p>Tollbodgaten 19</p>
                <p>Tønsberg, Norge</p>
            </div>
        </header>

        <!-- Body -->
        <main>
            <div class="container">

                <!-- Info -->
                <section class="pt2 pb3">                    
                    <img class="mb3" src="{{ site.baseurl }}/assets/img/presentor.jpeg" alt="Huddle presentation">
                    <!--
                    <div class="grid-row">
                        <div class="grid-column span-one-third mt1 reveal-on-scroll is-revealing">
                            <img class="icon mb1" src="{{ site.baseurl }}/assets/img/bucket.svg">
                            <p>Equidem soleo etiam quod uno Graeci, si aliter non possum idem&nbsp;pluribus.</p>
                        </div>
                        <div class="grid-column span-one-third mt1 reveal-on-scroll is-revealing">
                            <img class="icon mb1" src="{{ site.baseurl }}/assets/img/flask.svg">
                            <p>Nonne videmus quanta perturbatio rerum omnium consequatur&nbsp;quanta.</p>
                        </div>
                        <div class="grid-column span-one-third mt1 reveal-on-scroll is-revealing">
                            <img class="icon mb1" src="{{ site.baseurl }}/assets/img/aircraft.svg">
                            <p>Hoc enim constituto in philosophia constituta sunt omnia aliter&nbsp;possum.</p>
                        </div>
                    </div>
                    -->
                </section>

                <section class="align--center pt3 pb3">
                    <p class="h3 mb2 reveal-on-scroll is-revealing">Gratis inngang!</p>
                    <a href="https://goo.gl/maps/C7FsPHtuFjg5iZ7v6" class="btn btn--outline reveal-on-scroll is-revealing">Adressen</a>
                </section>
            </div>
        </main>

        <footer class="mt2 pb3 align--center">
            <ul class="no-bullets list--inline mb0">
                <li class="m1 block-on-mobile"><a href="https://discord.gg/9UUGJxD" class="link"><img class="icon" src="{{ site.baseurl }}/assets/img/Discord-Logo+Wordmark-Color.svg" alt="Discord"></a></li>
            </ul>
            <p class="mt1 small text--gray">Design by <a href="https://www.papayatemplates.com" class="link">Papaya</a>.</p>
        </footer>
    </div>
    </div>

{% include foot.html %}
